@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto' ,sans-serif;   
}
body{
    background-color: #000000;
}
navbar{
    background-color: white;
}
.nav-link{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
.nav-link:hover{
    color: white;
    background-color: black;
}
.navbar-brand{
    color: white;
    font-weight: 800;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration:none ;

 

    
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
    color: white;
}
.main h6{
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
}
.main span{
    color: blue;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
}
h1:hover{
    background-color: blue;
}
.para{
    text-transform: uppercase;
    color: blue;
}
p{
    color: white;
}
li{
    color: white;
}